## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Database
*.db
*.db-shm
*.db-wal

## Visual Studio
.vs/
*.rsuser
[Tt]est[Rr]esult*/
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Ll]og/
[Ll]ogs/

## NuGet
**/[Pp]ackages/*
*.nupkg
**/packages/

## OS Files
.DS_Store
Thumbs.db
